@import url('utilities.css');
@import url('animations.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: "Elianto";
    src: url("../src/Elianto-Regular.ttf"),
         url("../src/Elianto-Regular.otf");
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button, a, span, h1, p, h2, li{
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none;
}

.hidden{
    display: none !important;
}


html, body{
    width: 100%;
}

div.page{
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;

}

.menu, .frederick{
    display: flex;
    justify-content: space-between;
}

div.menu{
    display: flex;
    flex-wrap: wrap;
    width: 50%; 
}

div.frederick{
    width: 20%;
}

div.frederick > button{
    background-color: transparent;
    border: none;
    padding: 2px 6px;
    font-size: 12pt ;
    cursor: pointer;
    border-radius: 15px;
}

div.frederick > button.fButton{
    border: solid black 1px;
    border-radius: 120px;
    padding: 6px 10px;
}



div.menu a{
    color: #D2691E !important;
    padding: 4px 10px;
    border-radius: 5px;
    
}

div.frederick-brand{
    position: relative;
    width: 100%;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 700px;
}

div.frederick-brand span{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 140pt;
    color: black;
    font-family: 'Elianto' !important;
}

div.frederick-brand img{
    position: absolute;
    user-select: none !important;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

h1.cap{
    color:  rgb(41, 41, 41);
    text-align: center;
    font-size: 28pt;
    padding: 20px;
}

div.about-frederick{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 10px 100px;
    background-color: rgba(0, 0, 0, 0.795);
    align-items: center;
    border: double black;
    border-width: 5px 0px;
    overflow: hidden;
}

video.backgroundVideo01{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
}

div.about-frederick > .about-desc{
    width: 70%;
    color: white;
    text-align: center;
}

img#frederick-about-image{
    max-height: 300px;
}

p.cap-desc{
    text-align: center;
    padding: 20px 10%;
    color: #CD853F;
}

div.investigation{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 10% ;
}

div.investigation-video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% / 3) - 40px);
    padding: 10px;
    border: #D2691E solid 1px;
    margin: 10px;
    border-radius: 4px;
    height: auto;
}



div.investigation-video img{
        width: 100%;
        border-radius: 4px;
}

div.investigation-video p{
    text-align: justify;
}

div.investigation-video button{
    background-color: white;
    color: #D2691E;
    border: none;
    padding: 7px 10px;
    font-size: 12pt;
    border: #D2691E 1px solid;
    border-radius: 20px;
    margin: 10px 0;
}


div.monsters{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(32, 32, 32);
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    height: 500px;
}

div.m-list{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-collapse: collapse;
}

div.m-list > ul{
    padding: 30px 0;
    list-style: none;
    background-color: rgb(17, 17, 17);
    width: 100%;
    border-collapse: collapse !important;
    height: 100%;
}

div.m-list li a, div.m-list li{
    padding: 10px 20px;
    color: white;
    border-bottom: solid 1px rgb(20, 20, 20);
}

div.m-list li{
    display: block;
    width: 100%;
}

div.lore-container{
    width: 80%;
    overflow-y: scroll;
}

div.m-lore{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

div.m-lore > *{
    margin: 10px 0;
}

div.m-lore img{
    width: 230px;
    border-radius: 50%;
    border: double 4px white;

}

div.m-lore p{
    text-align: justify;
}

div.background-video-player{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 100%;
}

div.video-player{
    position: relative;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 360px;
    width: 720px;
    padding: 10px;
    border-radius: 15px;
}

div.video-player video{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 15px;
}

div.background-video-player button{
    font-family: initial !important;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 18pt;
    padding: 5px 10px;
    color: white;
    z-index: +1;
}