@media Screen and (max-width: 1175px) {
    div.menu{
        width: 60% !important;
    }
    
    div.frederick{
        width: 20% !important;
    }

    div.frederick-brand{
        max-height: 600px !important;
    }

    div.frederick-brand > span{
        font-size: 110pt !important;
    }
    div.frederick-brand img{
        max-height: 550px !important;
    }

    div.investigation-video{
        width: calc((100% / 3) - 10px) !important;
    }
}

@media Screen and (max-width: 980px) {
    div.menu{
        width: 70% !important;
    }

    div.investigation{
        padding: 5% !important;
    }

    
}

@media Screen and (max-width: 850px){
    div.menu{
        width: 100% !important;
    }

    div.frederick{
        width: 100% !important;
        justify-content: center;
        padding-top: 20px;
    }

    div.frederick-brand{
        max-height: 500px !important;
    }

    div.frederick-brand > span{
        font-size: 90pt !important;
    }
    div.frederick-brand img{
        max-height: 500px !important;
    }

    h1.cap{
        font-size: 22pt !important;
    }

    div.about-frederick{
        padding: 10px 50px !important;
    }

    video.backgroundVideo01{
        width: 150% !important;
    }

    div.investigation-video{
        width: calc((100% / 2) - 10px) !important;
    }
}

@media Screen and (max-width: 700px){
    div.about-frederick{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px 0px !important;
    }

    div.about-desc{
        width: 90% !important;
        font-size: 12pt;
        padding-bottom: 40px;
    }

    video.backgroundVideo01{
        width: 200% !important;
    }

    div.frederick-brand  span{
        font-size: 70pt !important;
    }

    div.investigation-video{
        width: calc((100% / 2) - 5px) !important;
    }

    div.investigation{
        padding: 2% !important;
    }

}

@media Screen and (max-width: 650px){

    div.frederick-brand{
        max-height: 400px !important;
    }

    div.frederick-brand > span{
        font-size: 50pt !important;
    }
    div.frederick-brand img{
        max-height: 400px !important;
    }

    video.backgroundVideo01{
        width: 300% !important;
    }

    

}

@media Screen and (max-width: 520px){
    nav{
        padding: 20px 5% !important;
    }

    div.about-frederick > img{
        max-height: 200px !important;
        padding-top: 20px;
    }

    h1.cap{
        font-size: 20pt !important;
    }

    div.menu{
        justify-content: space-evenly !important;
    }

    div.menu > a{
        padding: 5px 10px;
    }

    div.investigation-video{
        width: calc(100% - 5px) !important;
    }
}